:root {
    --blue: #1992d4;
    --orange: #f0b429;
    --white: white;
    --grey: #e2e8f0;
    --content-font-color: rgb(122, 122, 122);
    --small-icon: 45px;
    --medium-icon: 60px;
    --content-box-shadow: 4px 4px 10px rgb(168, 168, 168);
}

* {
    font-family: Arial, sans-serif;
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 150px 1fr;
    height: 100vh;
}

.nav {
    background-color: var(--blue);
    grid-row: 1 / 3;
    color: var(--white);
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    min-height: 500px;
}

a {
    color: inherit;
    text-decoration: none;
}

.nav>.links {
    display: grid;
}

.nav-item {
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: bold;
    margin: 10px;
    font-size: 20px;
}

.nav-item#nav-title {
    font-size: 30px;
}

.header {
    background-color: var(--white);
    grid-column: 2 / 3;
    padding: 10px 40px 10px 40px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    font-weight: bold;
    color: black;
}

.header>div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-small {
    width: var(--small-icon);
    height: var(--small-icon);
    border-radius: 50%;
}

.icon-medium {
    width: var(--medium-icon);
    height: var(--medium-icon);
    border-radius: 50%;
}

#search-bar {
    border: none;
    border-radius: 10px;
    background-color: var(--grey);
    height: 24px;
    flex: 100;
    max-width: 600px;
    padding-left: 10px;
}

.header button {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 25px;
    border: none;
    height: 35px;
    width: 100px;
    font-size: 15px;
    font-weight: inherit;
}

.username-greeting>div:first-child {
    font-size: small;
    font-weight:lighter;
}

.username-greeting>div:last-child {
    font-size: 30px;
}

.fill {
    flex: 1;
}

button:active {
    transform: scale(90%);
  }

.content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: var(--grey);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 270px;
    grid-template-rows: 20px 340px 57px 20px 340px 1fr;
    column-gap: 20px;
    color: black;
}

.content > label {
    font-weight: bold;
    font-size: larger;
}

#projects {
    grid-row: 2/7;

    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 20px;
    padding-top: 10px;
}

#announcements-label {
    grid-column: 2/3;
}

#trending-label {
    grid-column: 2/3;
    grid-row: 4/5;
}

#trending {
    grid-row: 5/6;
}

.project-card {
    background-color: var(--white);
    height: 220px;
    border-radius: 10px;
    box-shadow: var(--content-box-shadow);
    display: flex;
    overflow: hidden;
}

.card-accent {
    width: 10px;
    background-color: var(--orange);
}

.card-content {
    flex: 1;
    padding: 30px 20px 30px 20px;
    display: flex;
    flex-direction: column;
}

.project-title {
    font-weight: bold;
    margin-bottom: 4px;
}

.project-description {
    color: var(--content-font-color);
    font-size: 16px;
    flex: 1;
}

.card-icons {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 30px;
    margin-right: 10px;
}

.card-icons>i {
    font-size: 22px;
    align-items: end;
}

#announcements,
#trending {
    background-color: var(--white);
    margin-top: 10px;
    box-shadow: var(--content-box-shadow);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.user {
    display: flex;
    gap: 20px;
    align-items: center;
}

.username {
    font-weight: bold;
}

.user-details {
    color: var(--content-font-color);
}

.announcement-title {
    font-weight: bold;
}

.announcement {
    color: var(--content-font-color);
    font-size: smaller;
}

.announcement-divider {
    height: 1px;
    background-color: var(--content-font-color);
}

.user-info {
    font-size: 15px
}